body{
    margin: 0;
    padding: 0;


    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
h1{
    color: rgb(234, 137, 1);
}
.gridCanvas{
   
    border: 1px solid black ;
    width: fit-content;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    
  
}
.rowSquare{
    
    
    width:10px; 
    height:10px;
    
}

